body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3700ff;
}

.calculator {
    border-radius: 10px;
    background-color: #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.display {
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 2em;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid ;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    padding: 20px;
    font-size: 1.5em;
    background-color: #f4f4f4;
    background-color: #ffffff;
    border: 1px solid ;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #585555;
}

.button:active {
    background-color: #ed98c8;
}
